.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.full-view {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.chat-room {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: calc(10px + 1vmin);
}

.vote-room {
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: calc(10px + 1vmin);
}

.chat {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  color: black;
}

.chat-box {
  margin: 10px;
}

.vote-box {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  align-items: center;
  justify-content: center;
  color: white;
}

.vote-border {
  width: 100%;
  margin: 10px;
  padding: 10px;
  border: 1px solid white;
}

.vote-header {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  padding: 10px;
  justify-content: left;
  font-size: calc(10px + 1.5vmin);
  font-weight: 700;
}

.vote-selector {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.vote-select-button {
  width: 100%;
  align-items: center;
  justify-content: center;
}

